<h1>Listing vehicle_versions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Vehicle</th>
  </tr>

<% @vehicle_versions.each do |vehicle_version| %>
  <tr>
    <td><%=h vehicle_version.name %></td>
    <td><%=h vehicle_version.vehicle %></td>
    <td><%= link_to 'Show', vehicle_version %></td>
    <td><%= link_to 'Edit', edit_vehicle_version_path(vehicle_version) %></td>
    <td><%= link_to 'Destroy', vehicle_version, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vehicle_version', new_vehicle_version_path %>