<p>
  <b>Name:</b>
  <%=h @vehicle_version.name %>
</p>

<p>
  <b>Marca / Modelo</b>
  <%=h @vehicle_version.vehicle.maker.name %> / <%=h @vehicle_version.vehicle.model %>
</p>


<%= link_to 'Edit', edit_vehicle_version_path(@vehicle_version) %> |
<%= link_to 'Back', vehicle_versions_path %>